<!doctype html>
<html lang="vi" class="h-full bg-white">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>phu kien an phu</title>

  {% load static %}
  <script src="{% static 'templates/scripts/jquery.min.js' %}"></script>
  <script src="{% static 'templates/scripts/tailwindcss.min.js' %}"></script>
  <script src="{% static 'templates/scripts/tailwind.plugins.min.js' %}"></script>
  <script src="{% static 'templates/scripts/tailwind.config.js' %}"></script>
  
</head>
<body class="h-full">
    {% block content %}
    {% endblock %}
</body>
</html>