<div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
  <div class="pt-4">
    {% include 'base/components/logo_with_name.html' %}
  </div>
  <nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
      <li>
        <ul role="list" class="-mx-2 space-y-1">
          <li>
            <!-- Current: "bg-gray-50", Default: "hover:bg-gray-50" -->
            <a href="{% url 'product:index' %}" class="hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold text-gray-700">
              <svg class="h-6 w-6 shrink-0 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>
              Trang chủ
            </a>
          </li>

          {% for category in all_categories %}
          <li>
            <div>
              <a type="button" class="{% if category.id == curent_category_id %} bg-gray-50 {% else %} hover:bg-gray-50 {% endif %}
                                    flex items-center w-full text-left rounded-md p-2 gap-x-3 text-sm leading-6 font-semibold text-gray-700"
                aria-controls="sub-menu-2" aria-expanded="false"
                href="{% url 'product:list-category' slug=category.slug category_id=category.id %}">
                <svg  class="h-6 w-6 shrink-0 text-gray-400" 
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>
                {{category.name}}
                <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                <svg class="text-gray-400 ml-auto h-5 w-5 shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                </svg>
              </a>
              <!-- Expandable link section, show/hide based on state. -->
              <ul class="mt-1 px-2" id="sub-menu-2">
                {% for sub_category in category.children.all %}
                <li>
                  <!-- 44px -->
                  <a href="{% url 'product:list-products' category.slug sub_category.slug sub_category.id %}" 
                    class="{% if sub_category.id == curent_category_id %} bg-gray-50 {% else %} hover:bg-gray-50 {% endif %} 
                            block rounded-md py-2 pr-2 pl-9 text-sm leading-6 text-gray-700">
                    {{ sub_category.name }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li class="-mx-6 mt-auto">
        <div class="bg-indigo-500 px-5 py-2 flex justify-center text-gray-200">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
              class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
          </div>       
          <a href="tel:{{ CmpInfo.PHONE_NUMBER }}" class="pl-2 items-center hover:text-white">{{ CmpInfo.PHONE_NUMBER }}</a>
        </div>
      </li>
    </ul>
  </nav>
</div>
