{% extends 'base/base.html' %}

{% block content %}

<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-white">
  <body class="h-full">
  ```
-->
<div class="mx-auto max-w-xl px-4 sm:px-6 lg:max-w-screen-2xl lg:px-8">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">

    <div class="sidebar-mobile hidden fixed inset-0 bg-gray-900/80"></div>

    <div class="sidebar-mobile hidden fixed inset-0 flex">

      <div class="relative mr-16 flex w-full max-w-xs flex-1">

        <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
          <button type="button" class="-m-2.5 p-2.5"
            onclick="closeSidebarMobile()">
            <span class="sr-only">Close sidebar</span>
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- Sidebar component, swap this element with another sidebar if you like -->
        
        {% include 'product/components/product/sidebar.html' %}

      </div>
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    {% include 'product/components/product/sidebar.html' %}


  </div>

  <div class="lg:pl-72">
    <div class="sticky w-full top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
      <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
        onclick="openSidebarMobile()">
        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>

      <!-- Separator -->
      <div class="h-6 w-px bg-gray-200 lg:hidden" aria-hidden="true"></div>

      <div class="flex justify-between w-full self-stretch">
        
        <div class="flex items-center">
          <div class="hidden sm:block ">
            {% include 'product/components/product/product_link.html' %}
          </div>
        </div>

        <div class="flex items-center">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
          </button>
          
          
        </div>
      </div>
    </div>

    <main class="pt-3">
        <!-- Your content -->
        <div class="block sm:hidden bg-gray-100 py-1 border-b border-gray-200">
          {% include 'product/components/product/product_link.html' %}
        </div>
        

        {% block product %}
        {% endblock product %}

        {% include 'base/components/footer.html' %}
      
    </main>
  </div>
</div>



<script>

  const closeSidebarMobile = function() {
    $('.sidebar-mobile').removeClass('opacity-100');
    $('.sidebar-mobile').addClass('opacity-0');

    setTimeout(() => {
      $('.sidebar-mobile').addClass('hidden')
    }, 500);
  }

  const openSidebarMobile = async function() {
    const sidebarMobile = $('.sidebar-mobile');
    
    await sidebarMobile.removeClass('hidden').promise();
    sidebarMobile.removeClass('opacity-0');
    sidebarMobile.addClass('opacity-100');
  }

</script>


<style>
  .sidebar-mobile {
    transition: opacity 0.5s ease-in-out;
  }
</style>

{% endblock content %}