<style>
.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    opacity: 1;
    transform: translateY(-50%);
}
</style>

<div class="bg-cover flex justify-center items-center" >
  <div id="glide1" class="glide mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between border-b-2 pb-2 mb-4 border-cmedium">
      <h2 class="text-2xl font-bold tracking-tight text-cdark">Sản phẩm nổi bật</h2>
      <a href="{% url 'product:category' %}" 
        class="pt-4 hidden text-md font-semibold text-indigo-600 hover:text-indigo-500 sm:block">
        Xem toàn bộ sản phẩm
        <span aria-hidden="true"> &rarr;</span>
      </a>
    </div>

    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">

        {% for product in top_products %}
        <li class="glide__slide">
          <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
          <img src="{{ product.image.url }}" alt="{{ product.name }}"
               class="h-full w-full object-cover object-center group-hover:opacity-75">
            </div>
            <div class="mt-6 text-center">
              <h3 class="mt-1 text-lg font-semibold text-gray-900">
                {{ product.name }}
              </h3>
            </div>
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left left-0" data-glide-dir="<">
        <div class="h-10 w-10 rounded-xl flex justify-center items-center my-auto hover:bg-gray-200 duration-300 ease-in-out">
          <i class="fas fa-angle-left text-3xl"></i>
        </div>
      </button>
      <button class="glide__arrow glide__arrow--right right-0" data-glide-dir=">">
        <div class="h-10 w-10 rounded-xl flex justify-center items-center my-auto hover:bg-gray-200 duration-300 ease-in-out">
          <i class="fas fa-angle-right text-3xl"></i>
        </div>
      </button>
    </div>
  </div>
</div>


<script>
const config = {
  type: 'carousel',
  startAt: 0,
  perView: 5,
  gap: 32,
  autoplay: 2000,
  breakpoints: {
    1280: {
      perView: 4,
    },
    1024: {
      perView: 3,
    },
    768: {
      perView: 2,
    }
  }
}
new Glide('#glide1', config).mount()
</script>